{% extends "base.html" %}

{% block content %}

<div class="body container" style="padding-top: 10px">


<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-signin" role="form">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger" id="login_error">
            <p>Sorry, not a valid username or password. Please try again.</p>
        </div>
    {% endif %}
        <h2 class="form-signin-heading" style="text-align: center;">Log in</h2> 
        <input id="id_username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
        <input id="id_password" name="password" type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}


