{% extends "base.html" %}

{% load comments %}

{% block title %}{{ frat.name }}{% endblock %}

{% block content %}
<h1>{{ frat.name }} -- {{ frat.chapter}} Chapter</h1>
<ul>
{% for rush in frat.rush_set.all %}
<li>{{rush}} 
<a href="{% url 'thumbs' 1 user.id rush.id %}">Thumbs Up</a> {{ rush.reputation.thumbsup}}
<a href="{% url 'thumbs' 0 user.id rush.id %}">Thumbs Down</a> {{rush.reputation.thumbsdown}}
</li>
Comments:
{% for comment in rush.comment_set.all %}
<p>{{ comment.userprofile.user }} says: {{ comment.body }}<p>
{% endfor %}
Post a comment:
{% if user.is_authenticated %}
<form action="{% url 'add_comment' rush.pk user.userprofile.pk %}" method="POST">
    {% csrf_token %}
    <p>{{ form.as_p }}</p>
    <input type="submit" value="Post Comment">
</form>

{% else %}
    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
{% endif %}
{% endfor %}
</ul>

{% endblock %}