{% extends "base.html" %}

{% load comments %}

{% block title %}{{ frat.name }}{% endblock %}

{% block content %}
<h1>{{ frat.name }} -- {{ frat.chapter}} Chapter</h1>
<ul>
{% for rush in frat.rush_set.all %}
<li>{{rush}} 
<a href="{% url 'thumbs' 1 user.id rush.id %}">Thumbs Up</a> {{ rush.reputation.thumbsup}}
<a href="{% url 'thumbs' 0 user.id rush.id %}">Thumbs Down</a> {{rush.reputation.thumbsdown}}
</li>
Comments:
{% render_comment_list for rush %}
Post a comment:
{% if user.is_authenticated %}
    {% get_comment_form for rush as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'home' %}" />
</br>
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
{% else %}
    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
{% endif %}
{% endfor %}
</ul>

{% endblock %}