{% extends "base.html" %}

{% load comments %}

{% block title %}{{ frat.name }}{% endblock %}

{% block navbar-rushlist %}
        
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-rushes">
            {% for rush in rushes %}
            <li class="navbar-rush" id="rush-{{forloop.counter}}"><a href="#"><span class="navbar-rush">{{ rush }}</span></a></li>
            {% endfor %}
          </ul>
        </div>

{% endblock navbar-rushlist %}
{% block content %}
<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-hover table-enlarged">
                    <tbody>
                    {% for rush in rushes %}
                    <tr class="rush-row">
                        <td> 
                            <div id="rush-{{forloop.counter}}">
                                <img src="{{ rush.picture }}" class="rush-image img-responsive img-thumbnail"> 
                                <p class="rush-name"> {{ rush }}</p>
                                <p class="num-comments"> {{ rush.comment_set.count }} comments </p>
                            </div> <!-- rush-row -->

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6" id="profile-container">
                {% for rush in rushes %}
                
                {% if rush.pk == active_rush.pk %}
                <div class="rush-profile active" id="rush-{{ forloop.counter }}-profile">
                {% else %}
                <div class="rush-profile" id="rush-{{ forloop.counter }}-profile">
                {% endif %}
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="rush-profile-image img-responsive" src="{{ rush.picture }}">
                        </div>
                        <div class="col-lg-6">
                            <div class="rush-info">
                                <h2 class="active-rush-name"> {{ rush }}</h2>
                                <ul class="list-group">

                                {% if rush.hometown %}
                                <p> {{ rush.hometown }} <i class="icon-globe icon-large"> </i> </p> 
                                {% endif %}
                                {% if rush.phone_number %}
                                <p> {{ rush.phone_number }}<i class="icon-phone icon-large"> </i> </p>
                                {% endif %}
                                {% if rush.email %}
                                <p> {{ rush.email }}<i class="icon-envelope icon-large"> </i></p>
                                {% endif %}
                                {% if rush.dorm %}
                                <p> {{ rush.dorm }} <i class="icon-home icon-large"> </i> </p>
                                {% endif %}
                            </div> <!-- rush-info -->
                        </div> <!-- col-lg-6 -->
                    </div> <!-- row -->
                    <div class="row">
                        <div class="comments">
                            {% for comment in rush.comment_set.all %}
                            <div class="right-comment"> 
                                <div class="right-comment-text">{{ comment.body }}</div>
                                <div class="comment-name"> {{ comment.userprofile.user }} </div>
                            </div> <!-- right-comment -->
                            {% endfor %}
                        </div> <!-- comments -->
                    </div> <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="comment-form">
                                {% if user.is_authenticated %}
                                <form action="{% url 'add_comment' rush.pk user.userprofile.pk %}" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <textarea class="form-control" rows="3" name="body" placeholder="Add comment..."></textarea>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-lg post-comment-btn" type="submit">Post!</button>
                                        </span>
                                    </div> <!-- input-group -->
                                </form>
                                {% else %}
                                    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
                                {% endif %}
                            </div> <!-- comment-form -->
                        </div> <!-- col-lg-12 -->
                    </div> <!-- row -->
                </div>  <!-- rush-profile -->  
                {% endfor %}       
            </div> <!-- col-lg-6 -->
        </div> <!-- row -->
    </div> <!-- starter-template -->
</div> <!-- container -->

{% endblock content %}